@charset "utf-8";
a:link {
	font-family: "黑体";
	font-size: 14px;
	color: #2980BE;
	text-decoration: none;
}
a:visited {
	font-family: "黑体";
	font-size: 14px;
	color: #53EE5F;
	text-decoration: none;
}
a:hover {
	font-family: "黑体";
	font-size: 14px;
	color: #6699FF;
	text-decoration: underline;
}
.bk {
	border: 1px solid #7AB5E1;
}
